<launch> 
<!--hpcl.bag-->
<!--<node pkg="octomap_ros" type="rcv_test" name="rcv_test" output="screen">
    <param name="goal" type="string" value="5.2,-2.6,2" />
    <param name="pos" type="string" value="3,-0.6,2" />
</node>

<node pkg="rviz" type="rviz" name="rviz" args="-d $(find octomap_ros)/launch/octomap_hpcl.rviz" output="log"></node>-->


<!--dataset-->
<node pkg="octomap_ros" type="rcv_test" name="rcv_test" output="screen">
    <param name="goal" type="string" value="-2.5,9.5,2" />
    <param name="pos" type="string" value="1,2.7,2" />
</node>

<node pkg="rviz" type="rviz" name="rviz" args="-d $(find octomap_ros)/launch/octomap_test.rviz" output="log"></node>

</launch>
